# IDEs
.idea/
.vscode/

# Cache
cache.sqlite

# Ansible
*.retry
my_local_playbooks/*.yml

# Deprecated files
*.old
vault-id
*.retry
cache.sqlite
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
htmlcov-integration/
.tox/
.coverage
.coverage-integration
.coverage.*
.coverage-integration.*
.cache
nosetests.xml
coverage.xml
coverage-integration.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# Makefile marker files
*.marker

# Idea IDE files
.idea

# Git orig files
*.orig

# Mac OS Finder files
.DS_Store

# Dependency docs
dependencies.csv

# Editor temp files
.~lock*

# Java JARs
*.jar

testreport/
.pytest_cache/
**/_version.py

